<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <link type="text/css" rel="stylesheet" href = "/css/stylesheet.css">
  </head>
  <body>
    <h1 id="header" class="title">URL Shortener Microservice</h1>
    <h3 id="title" class="title">Instructions</h3>
    <img id="gnomes" src="http://vignette4.wikia.nocookie.net/southpark/images/5/5c/38a.jpg/revision/latest/scale-to-width-down/310?cb=20100829133317"/>
    <ol id="list">
        <li>Pass a url preceded by /new/ into the address bar</li>
        <li>Make sure that the original url is included as well, e.g. https://urlshortener320.herokuapp.com/new/https://www.chess.com</li>
        <li>Enter the new shortened url provided to be redirected</li>
        <li>?? </li>
        <li>Profit</li>
  </ol>
   <p id="descriptionLinks">
      Check out the <a href="https://github.com/ajGingrich/URL-Shortener" target="_blank">github repository</a>
      or the <a href="https://www.freecodecamp.com/challenges/url-shortener-microservice" target="_blank">description</a> from freeCodeCamp.
   </p>
  </body>
</html>
