#header {
    margin-left: 140px;
    color: #1024b7;
}
.title {
    font-family: Arial, serif;
}
#title {
    margin-left: 270px;
}
body {
    background-color: #e3eae5
}
#list {
    margin-left: 20px;
    line-height: 150%;
}
#gnomes {
    margin-left: 150px;
    border-radius: 5px;
}